/********** Template CSS **********/
:root {
    --primary: #4294E3;
    --secondary: #8F12FD;
    --light: #F0F6FF;
    --dark: #262B47;
    --transition: all 400ms ease;
}


/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Heading ***/
h1,
h2,
.fw-bold {
    font-weight: 700 !important;
}

h3,
h4,
.fw-semi-bold {
    font-weight: 600 !important;
}

h5,
h6,
.fw-medium {
    font-weight: 500 !important;
}


/*** Gradient Text & BG ***/
.text-primary-gradient {
    background: linear-gradient(to bottom right, var(--primary), var(--secondary));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-secondary-gradient {
    background: linear-gradient(to bottom right, var(--secondary), var(--primary));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.bg-primary-gradient {
    background: linear-gradient(to bottom right, var(--primary), var(--secondary));
}

.bg-secondary-gradient {
    background: linear-gradient(to bottom right, var(--secondary), var(--primary));
}


/*** Button ***/
.btn {
    transition: .5s;
}

.btn.btn-primary-gradient,
.btn.btn-secondary-gradient {
    position: relative;
    overflow: hidden;
    border: none;
    color: #FFFFFF;
    z-index: 1;
}

.btn.btn-primary-gradient::after,
.btn.btn-secondary-gradient::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: .5s;
    z-index: -1;
    opacity: 0;
}

.btn.btn-primary-gradient,
.btn.btn-secondary-gradient::after {
    background: linear-gradient(to bottom right, var(--primary), var(--secondary));
}

.btn.btn-secondary-gradient,
.btn.btn-primary-gradient::after {
    background: linear-gradient(to bottom right, var(--secondary), var(--primary));
}

.btn.btn-primary-gradient:hover::after,
.btn.btn-secondary-gradient:hover::after {
    opacity: 1;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 50px;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
    border: none;
    background: linear-gradient(to bottom right, var(--primary), var(--secondary));
}


/*** Navbar ***/
.navbar-light .navbar-nav .nav-link {
    position: relative;
    margin-right: 25px;
    padding: 45px 0;
    font-family: 'Jost', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: var(--light) !important;
    outline: none;
    transition: .5s;
}

.navbar-light .navbar-nav .nav-link::before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    border: 10px solid;
    border-color: var(--light) transparent transparent transparent;
    transition: .5s;
}

.sticky-top.navbar-light .navbar-nav .nav-link {
    padding: 20px 0;
    color: var(--dark) !important;
}

.navbar-light .navbar-nav .nav-link:hover::before,
.navbar-light .navbar-nav .nav-link.active::before {
    top: 0;
}

.navbar-light .navbar-brand h1 {
    color: #FFFFFF;
}

.navbar-light .navbar-brand img {
    max-height: 60px;
    transition: .5s;
}

.sticky-top.navbar-light .navbar-brand img {
    max-height: 45px;
}

@media (max-width: 991.98px) {
    .sticky-top.navbar-light {
        position: relative;
        background: #FFFFFF;
    }

    .navbar-light .navbar-collapse {
        margin-top: 15px;
        border-top: 1px solid #DDDDDD;
    }

    .navbar-light .navbar-nav .nav-link,
    .sticky-top.navbar-light .navbar-nav .nav-link {
        padding: 10px 0;
        margin-left: 0;
        color: var(--dark) !important;
    }

    .navbar-light .navbar-nav .nav-link::before {
        display: none;
    }

    .navbar-light .navbar-nav .nav-link:hover,
    .navbar-light .navbar-nav .nav-link.active {
        color: var(--primary) !important;
    }

    .navbar-light .navbar-brand h1 {
        background: linear-gradient(to bottom right, var(--primary), var(--secondary));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .navbar-light .navbar-brand img {
        max-height: 45px;
    }
}

@media (min-width: 992px) {
    .navbar-light {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 999;
    }
    
    .sticky-top.navbar-light {
        position: fixed;
        background: #FFFFFF;
    }

    .sticky-top.navbar-light .navbar-nav .nav-link::before {
        border-top-color: var(--primary);
    }

    .sticky-top.navbar-light .navbar-brand h1 {
        background: linear-gradient(to bottom right, var(--primary), var(--secondary));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}


/*** Hero Header ***/
.hero-header {
    margin-bottom: 6rem;
    padding: 16rem 0 5rem 0;
    background:
        url(../img/bg-circle.png),
        url(../img/bg-triangle.png),
        url(../img/bg-bottom.png),
        linear-gradient(to bottom right, var(--primary), var(--secondary));
    background-position:
        left 0px top 0px,
        right 0px top 50%,
        center bottom;
    background-repeat: no-repeat;
}

@media (max-width: 991.98px) {
    .hero-header {
        padding: 6rem 0 9rem 0;
    }
}


/*** Feature ***/
.feature-item {
    transition: .5s;
}

.feature-item:hover {
    margin-top: -15px;
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .08);
}


/*** Pricing ***/
.pricing .nav {
    padding: 2px;
}

.pricing .nav-link {
    padding: 12px 30px;
    font-weight: 500;
    color: var(--dark);
    background: #FFFFFF;
}

.pricing .nav-item:first-child .nav-link {
    border-radius: 30px 0 0 30px;
}

.pricing .nav-item:last-child .nav-link {
    border-radius: 0 30px 30px 0;
}

.pricing .nav-link.active {
    color: #FFFFFF;
    background: linear-gradient(to bottom right, var(--primary), var(--secondary));
}





/*** Testimonial ***/
.testimonial-carousel .owl-item .testimonial-item,
.testimonial-carousel .owl-item .testimonial-item * {
    transition: .5s;
}

.testimonial-carousel .owl-item.center .testimonial-item {
    background: linear-gradient(to bottom right, var(--primary), var(--secondary));
}

.testimonial-carousel .owl-item.center .testimonial-item h5,
.testimonial-carousel .owl-item.center .testimonial-item p {
    color: #FFFFFF !important;
}

.testimonial-carousel .owl-nav {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.testimonial-carousel .owl-nav .owl-prev,
.testimonial-carousel .owl-nav .owl-next {
    margin: 0 12px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background: linear-gradient(to bottom right, var(--primary), var(--secondary));
    border-radius: 60px;
    font-size: 18px;
    transition: .5s;
}

.testimonial-carousel .owl-nav .owl-prev:hover,
.testimonial-carousel .owl-nav .owl-next:hover {
    background: linear-gradient(to bottom right, var(--secondary), var(--primary));
}


/*** Footer ***/
.footer {
    margin-top: 2rem;
    padding-top: 9rem;
    background:
        url(../img/bg-circle.png),
        url(../img/bg-triangle.png),
        url(../img/bg-top.png),
        linear-gradient(to bottom right, var(--primary), var(--secondary));
    background-position:
        left 0px bottom 0px,
        right 0px top 50%,
        center top;
    background-repeat: no-repeat;
}

.footer .btn.btn-social {
    margin-right: 5px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light);
    border: 1px solid rgba(256, 256, 256, .1);
    border-radius: 40px;
    transition: .3s;
}

.footer .btn.btn-social:hover {
    color: var(--primary);
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 10px;
    padding: 0;
    text-align: left;
    color: var(--light);
    font-weight: normal;
    transition: .3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    letter-spacing: 1px;
    box-shadow: none;
}

.footer .copyright {
    padding: 25px 0;
    font-size: 14px;
    border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright a {
    color: var(--light);
}

.footer .footer-menu a {
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid rgba(255, 255, 255, .1);
}

.footer .footer-menu a:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
}


/* fags part */

.faqs-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}
.faq {
    padding: 2rem;
    display: flex;
    align-items: center;
    gap: 1.4rem;
    height: fit-content;
    cursor: pointer;
    border-radius: 8px;
    transition: all 0.3s;
    background: #5a8bb78f;
}
.faq h4 {
    font-size: 1rem;
    color: #fff
}
.faq-icon {
    align-self: flex-start;
    font-size: 1.2rem;
}
.faq-icon i {
background: linear-gradient(to bottom right, var(--primary), var(--secondary));
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.faq p {
    margin-top: 0.8rem;
    display: none;
    color: #919294;
    transition: var(--transition);
}
#faq h2 {
    text-align: center;
    margin-bottom: 4rem;
    color: #262B47
}
.faq.open p {
display: block;
color: #fff;
transition: var(--transition);
}
/* fags part */

/* new part */
    

/*************************Popular Courses****************************/

.courses h2
{
    text-align: center;
    margin-bottom: 4rem;
    color: #262B47;
}

.courses-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}
.course {
    background-color: #F0F6FF ;
    text-align: center;
    border: 1px solid transparent;
    transition: var(--transition);
    border-radius: 8px;
    padding: 1.5em 10px ;
    text-align: left;
}

.course-info a {
    background: linear-gradient(to bottom right, var(--primary), var(--secondary));

}
/* .course:hover {
    background: #d6d9dd;
    border: 1px solid #F0F6FF;
    color: white;
} */
/* .course-info {
    padding: 2rem;
} */
.course-info p {
    margin: 1.2rem 0 2rem;
    font-size: 0.9rem;
}

img {
    width: 100%;
    display: block;
    object-fit: cover;
}

.answer-icon {
    margin-right: 10px;
    font-size: 16px;
    background: linear-gradient(to bottom right, var(--primary), var(--secondary));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.answer {
    display: flex;
    align-items: center;
}
.line {
    width: 100%;
    height: 2px;
    margin-top: 15px;
    background: linear-gradient(to bottom right, var(--primary), var(--secondary));
    border-radius: 20px;
}

/* new part */


/* new part */

.gap {
    gap: 10px;
}
.tm-article {
	padding: 20px;
	transition: all 0.3s ease;
    background: #F0F6FF;
}


.tm-article-title-1 {
	font-size: 1rem;
    font-weight: 600;
    margin-bottom: 20px;
}

.tm-article-title-2 { 
	font-size: 1rem;
	font-weight: 700;
	letter-spacing: 1px;
}

.tm-article-title-3 { font-size: 1rem; }


.icon i{
    font-size: 50px;
    color: #fff;
    background: linear-gradient(to bottom right, var(--secondary), var(--primary));
    padding: 25px;
    border-radius: 50%;
}
/* new part */
.review-boxs {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}
.review-box {
    width: 325px;
}

ul {
    list-style-type: none;
    padding: 0;
}

.list-item {
    text-align: left;
}
.item i {
    margin-right: 8px;
    background: linear-gradient(to bottom right, var(--primary), var(--secondary));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}





/* sign in */

#loginPopup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: auto;
}


.popup-content {
    background: #F0F6FF;   
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
    border-radius: 8px;
    width: 300px;
    text-align: center;
    width: 600px;
}

.popup-content form {
    display: grid;
    gap: 10px;
}
.popup-content input {
    padding: 0.8rem;
    width: 100%;
}
.close-btn {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 25px;
}

.close-btn:hover,
.close-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
    transition: var(--transition);
}
.nextBtn {
    background: linear-gradient(to bottom right, var(--primary), var(--secondary));
    color: #fff;
    padding: 0.6rem;
    border-radius: 10px;
    outline: none;
    border: none;
    font-size: 18px;

}

/* confirm */
#confirmationMessage {
    margin-top: 20px;
    padding: 15px;
    background-color: #fff;
    color: #155724;
    border: 1px solid #c3e6cb;
    border-radius: 5px;
    display: none;
}

#confirmationPopup .popup-content {
    width: 400px;
}

.hidden {
    display: none;
}
.popup {
    display: none;
}


/* social-icons */
.social-icons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
}

.social-link {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon-name{
    font-size: 12px;
    font-weight: 500;
    margin-top: 5px;
}
.social-link i {
    font-size: 40px;

}
.head-item {
    text-align: center;
    font-size: 36px;
    letter-spacing: 1.3px;
}

    

    



















/*Madia Queries*/
@media screen and (max-width: 1024px) 
{
    .container {
        width: var(--container-width-md);
    }
    h1 {
        font-size: 2.2rem;
    }
    h2 {
        font-size: 1.7rem;
    }
    h3 {
        font-size: 1.4rem;
    }
    h4 {
        font-size: 1.2rem;
    }
    /************************Navbar**************************/
    nav button {
        display: inline-block;
        background: transparent;
        font-size: 1.8rem;
        color: var(--colo-white);
        cursor: pointer;
    }
    nav button#close-menu-btn {
        display: none;
    }
    .nav-menu {
        position: fixed;
        top: 5rem;
        right: 5%;
        height: fit-content;
        width: 18rem;
        flex-direction: column;
        gap: 0;
        display: none;
    }
    .nav-menu li {
        width: 100%;
        height: 5.8rem;
        animation: animateNavItems 400ms linear forwards;
        transform-origin: top right;
        opacity: 0;
    }
    .nav-menu li:nth-child(2) {
        animation-delay: 200ms;
    }
    .nav-menu li:nth-child(3) {
        animation-delay: 400ms;
    }
    .nav-menu li:nth-child(4) {
        animation-delay: 600ms;
    }
    @keyframes animateNavItems {
        0% {
            transform: rotateZ(-90deg) rotateX(90deg) scale(0.1);
        }
        100% {
            transform: rotateZ(0) rotateX(0) scale(1);
            opacity: 1;
        }

    }
    .nav-menu li a {
        background-color: var(--color-primary);
        box-shadow: -4rem 6rem 10rem rgba(0, 0, 0, 0.6) ;
        width: 100%;
        height: 100%;
        display: grid;
        place-items: center;
    }
    .nav-menu li a:hover {
        background: var(--color-bg2);
        color: var(--colo-white);
    }

    /*******Header*******************/
    header {
        height: 52vh;
        margin-bottom: 4rem;
    }
    .header-container {
        gap: 0;
        padding-bottom: 3rem;
    }
    /***********Categories*****************/
    .categories {
        height: auto;
    }
    .categories-container {
        grid-template-columns: 1fr;
        gap: 3rem;
    }
    .categories-left{
        margin-left: 0;
    }
    /******************Popular Courses**************/
    .courses {
        margin-top: 0;
    }
    .courses-container {
        grid-template-columns: 1fr 1fr;
    }
    /**************Faq**************/
    .faqs-container {
        grid-template-columns: 1fr;
    }
    .faq {
        padding: 1.5rem;
    }
    /*******Footer****************/
    .footer-container {
        grid-template-columns: 1fr 1fr;
    }
}

/*************Queries (Phone) ***************/
@media screen and (max-width: 600px) {
    .container {
        width: var(--container-width-sm);
    }

    .popup-content{
        width: 375px;
        z-index: 100;
    }

    /* review */

    .review-box {
        width: 100%;
    }
    
    /*******************Navbar*******************/
    .nav-menu {
        right: 3%;
    }

    /*********Header****************/
    header {
        height: 100vh;
    }
    .header-container {
        grid-template-columns: 1fr;
        text-align: center;
        margin-top: 0;
    }
    .header-left p {
        margin-bottom: 1.3rem;
    }
    /*******************Categories******************/
    .categories-right {
        grid-template-columns: 1fr 1fr;
        gap: 0.7rem;
    }
    .category {
        padding: 1rem;
        border-radius: 1rem;
    }
    .category-icon {
        margin-top: 4px;
        display: inline-block;
    }
    /**********************Popular Courses*****************/
    .courses-container {
        grid-template-columns: 1fr
    }
    /*************************Testimonials*******************/
    .testimonial-body {
        padding: 1.2rem;
    }
    /*********************footer *********************/
    .footer-container {
        grid-template-columns: 1fr;
        text-align: center;
        gap: 2rem;
    }
    .footer-1 p {
        margin: 1rem auto;
    }
    .footer-socials {
        justify-content: center;
    }

    /* mini features */
    .icon {
        width: 25%;
    }
    .icon i {
        font-size: 30px;
    }
    /* Brand */
    .brand {
        width: 25%;
    }
}










